html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Rye";
    height: 100%;
    background-color: #f7e6ce;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

p {
    font-family: sans-serif;
}

.max-body-width {
    max-width: 1000px;
}

.padding-10 {
    padding: 10px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    height: 100px;
    color: white;
    vertical-align: middle;
    z-index: 9999;
    box-shadow: 0px 5px 12px black;
    display: flex;
    justify-content: center;
}

nav {
    border: none;
    padding: 10px;
	box-sizing: border-box;
    width: 100%;
    z-index: 9999;
    max-width: 1100px;
}

nav label, nav input, nav .home-collapsed, .name-collapsed {
    display: none;
}

header nav ul {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
}

header nav ul li:hover a {
    text-decoration: underline;
    cursor: pointer;
}

header nav ul li.homepage-link a {
    background-color: white;
    color: black;
    border-radius: 6px;
}

header .logo-collapsed {
    display: none;
}

.logo-small {
    height: 48px;
    margin-right: 12px;
    position: relative;
    top: 15px;
}

main {
    margin-top: 100px;
    height: calc(100% - 150px);
    background-color: #f7e6ce;
    overflow: auto;
}

nothing {
    background-image: url("./images/mud-effect-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -35px 0px;
}

main #home {
    width: 100%;
    overflow: hidden;
}

main #home .town {
    background-image: url("./images/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    height: 30vh;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

main #home .town .logo {
    height: 70%;
    position: relative;
    top: 45px;
    left: 15px;
}

main #home .content {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main section .section-content {
    text-align: justify;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

main section .section-content ul {
    text-align: left;
    font-family: sans-serif;
}

main #home .content .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 75px;
}

main #home .content .content-container .content-cell {
    background-image: url("./images/poster-frame.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 350px;
    width: 325px;
    text-align: center;
}

main #home .content .content-container .content-cell div.wrapper {
    margin: 15%
}

main .button-container {
    text-align: center;
}

.height-60 {
    height: 60px;
}

.height-125 {
    height: 100px;
}

ul.space-between-items li {
    padding-bottom: 10px;
}

main .button-container a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 32px;
    padding: 10px;
}

main .button-container a:hover {
    text-decoration: underline;
}

.email a {
    text-decoration: none;
    color: blue;
}

footer {
    height: 50px;
    color: white;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0px;
}

footer div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65%;
    width: 100%;
    background-color: #794323;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: inset 0px 7px 50px -3px black;
}

.tel a {
    text-decoration: none;
    color: black;
}

.tel a.tel-white {
    color:white;
}


@media screen and (max-width: 900px) {
    nav label {
    	display: block;
        text-align: center;
        width: 48px;
        opacity: 0.8;
        margin-top: 3px;
    }

    header nav ul {
        display: none;
        position: absolute;
        right: 0px;
        margin-top: 90px;
        padding: 10px;
        font-size: 24px;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: black;
        width: 50vw;
        height: 50vh;
        text-align: center;
        z-index: 9999;
    }

    header nav ul li a {
        font-size: 24px;
    }

    main #home .content .content-container {
        padding-top: 25px;
        flex-direction: column;
    }

    main #home .content .content-container .content-cell:last-child, main #home .content .content-container .content-cell:nth-child(2) {
        margin-top: 20px;
        margin-left: 0px;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    nav .home-collapsed {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 24px;
    }

    nav .home-collapsed:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    nav input:checked ~ ul {
        display: flex;
        position: fixed;
        top: 0px;
        box-shadow: 0px 5px 12px black;
    }
    
    main #home .town .logo {
        display: none;
    }

    header .logo-collapsed {
        display: block;
        height: 90%;
        cursor: pointer;
    }

    .logo-small {
        display: none;
    }
}
